name: devtools_shared
description: Package of shared structures between devtools_app and devtools_server.

# Note: this version should only be updated by running tools/update_version.dart
# that updates all versions of packages from packages/devtools.
version: 2.3.0

homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  vm_service: ^6.2.0
