name: devtools_shared
description: Package of shared structures between devtools_app and devtools_server.

# Note: this version should only be updated by running tools/update_version.sh
# that updates all versions of packages from packages/devtools.
version: 2.0.0+1

homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.3.0 <3.0.0'

dependencies:
  meta: ^1.3.0
  vm_service: ^6.0.1-nullsafety.0
