name: devtools_shared
description: Package of shared Dart structures between devtools_app, dds, and other tools.

version: 4.1.0

repository: https://github.com/flutter/devtools/tree/master/packages/devtools_shared

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  collection: ^1.15.0
  extension_discovery: ^2.0.0
  meta: ^1.9.1
  path: ^1.8.0
  shelf: ^1.1.0
  sse: ^4.1.2
  usage: ^4.0.0
  vm_service: ^11.10.0
  web_socket_channel: ^2.4.0
  webkit_inspection_protocol: ">=0.5.0 <2.0.0"
  yaml: ^3.1.2
  yaml_edit: ^2.1.1

dev_dependencies:
  test: ^1.21.2
