# Copyright 2025 The Flutter Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file or at https://developers.google.com/open-source/licenses/bsd.
name: devtools_shared
description: Package of shared Dart structures between devtools_app, dds, and other tools.

version: 12.0.0

repository: https://github.com/flutter/devtools/tree/master/packages/devtools_shared

environment:
  sdk: ">=3.6.0 <4.0.0"

resolution: workspace

dependencies:
  args: ^2.4.2
  collection: ^1.15.0
  dtd: ^4.0.0
  extension_discovery: ^2.1.0
  meta: ^1.9.1
  path: ^1.8.0
  shelf: ^1.1.0
  sse: ^4.1.2
  vm_service: ">=13.0.0 <16.0.0"
  web_socket_channel: '>=2.4.0 <4.0.0'
  webkit_inspection_protocol: ">=0.5.0 <2.0.0"
  yaml: ^3.1.2
  yaml_edit: ^2.1.1

dev_dependencies:
  test: ^1.21.2
