name: devtools_shared
description: Package of shared structures between devtools_app, dds, and other tools.

# Note: this version should only be updated by running tools/update_version.dart
# that updates all versions of packages from packages/devtools.
version: 2.10.0

homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  path: ^1.8.0
  shelf: ^1.1.0
  usage: ^4.0.0
  vm_service: ^8.1.0
  webkit_inspection_protocol: '>=0.5.0 <2.0.0'
