# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/
pubspec.lock

.idea/
.data_dir/

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/
