os:
  - linux
  - osx
  - windows

language: dart
dart:
  - "dev/raw/latest"
  - stable
addons:
  chrome: stable

matrix:
  exclude:
    # Skip main bot for Stable build since it does formatting/building checks;
    # - Formatting will fail on old SDK if the formatter changed in latest.
    # - Builds are always done by us on latest SDKs so we don't need to ensure
    #     we can build on an older SDK.
    - dart: stable
      env: BOT=main

    # TODO(https://github.com/flutter/devtools/issues/1161): Skip test bots for dart
    # stable on Linux. They are failing with incompatible kernel versions right now.
    - os: linux
      dart: stable
      env:
        - BOT=test_ddc
        - BOT=test_dart2js

    # TODO(dantup): Temporarily skip stable Flutter builds on Windows because the
    # Dart SDK download can take too long due to Invoke-WebRequest performance.
    # This block can be removed when https://github.com/flutter/flutter/pull/37792
    # rolls to the Flutter stable channel.
    - os: windows
      dart:  stable
      env: 
        - BOT=flutter_sdk_tests
        - BOT=test_ddc
        - BOT=test_dart2js
        - BOT=integration_ddc
        - BOT=integration_dart2js
    # TODO(dantup): Skip Flutter builds until we understand/fix Flutter crashing
    # with "failed to delete build/assets: file is locked by another process".
    - os: windows
      env: 
        - BOT=flutter_sdk_tests
        - BOT=test_ddc
        - BOT=test_dart2js
        - BOT=integration_ddc
        - BOT=integration_dart2js
  include:
    - dart: "dev/raw/latest"
      env: BOT=packages
  # Skip windows bots until we find a way to make the windows tests less flaky.
  # https://github.com/flutter/devtools/issues/963
  allow_failures:
    - os: windows
env:
  - BOT=main
  - BOT=test_ddc
  - BOT=test_dart2js
  - BOT=integration_ddc
  - BOT=integration_dart2js

script: ./tool/travis.sh

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master]

cache:
  directories:
  - $HOME/.pub-cache # macOS / Linux
  - $APPDATA/Roaming/Pub/Cache # Windows
  - packages/devtools_app/.dart_tool/build
