os:
  - linux
  - osx
  - windows

language: dart
dart:
  - "dev/raw/latest"
# Exclude stable for now as we depend on Flutter features not availabe on
# stable.
#  - stable
addons:
  chrome: stable

matrix:
  exclude:
    # Skip main bot for Stable build since it does formatting/building checks;
    # - Formatting will fail on old SDK if the formatter changed in latest.
    # - Builds are always done by us on latest SDKs so we don't need to ensure
    #     we can build on an older SDK.
    - dart: stable
      env: BOT=main

    # TODO(https://github.com/flutter/devtools/issues/1161): Skip test bots for dart
    # stable on Linux. They are failing with incompatible kernel versions right now.
    - os: linux
      dart: stable
      env: BOT=test_ddc
    - os: linux
      dart: stable
      env: BOT=test_dart2js

    # TODO(dantup): Skip Flutter builds until we understand/fix Flutter crashing
    # with "failed to delete build/assets: file is locked by another process".
    - os: windows
      env:
        - BOT=flutter_sdk_tests
        - BOT=test_ddc
        - BOT=test_dart2js
        - BOT=integration_ddc
        - BOT=integration_dart2js
  include:
    - dart: "dev/raw/latest"
      env: BOT=packages
  # Allow windows bots to fail until we can make the windows tests less flaky.
  # https://github.com/flutter/devtools/issues/963
  allow_failures:
    - os: windows

env:
  - BOT=main
  - BOT=test_ddc
  - BOT=test_dart2js
  - BOT=integration_ddc
  - BOT=integration_dart2js
  - BOT=integration_dart2js USE_LOCAL_DEPENDENCIES=true

script: ./tool/travis.sh

# Specifying master here means that we don't run two builds for each pull request
# made from within the DevTools repo, however it complicates running builds on
# forks without opening PRs.
# See https://github.com/flutter/devtools/pull/398
# branches:
#   only: [master]

cache:
  directories:
  - $HOME/.pub-cache # macOS / Linux
  - $APPDATA/Roaming/Pub/Cache # Windows
  - packages/devtools_app/.dart_tool/build
