os:
  - linux
  - osx

language: dart
dart:
  - "dev/raw/latest"
# Disable testing on stable; it creates many more bots, and we generally only need
# test coverage for the SDK version we're developing and distributing against.
#  - stable
addons:
  chrome: stable

env:
  - BOT=main
  - BOT=test_ddc
  - BOT=test_dart2js
  - BOT=flutter_sdk_tests

script: ./tool/travis.sh

branches:
  only:
    - master

cache:
  directories:
  - $HOME/.pub-cache
