os:
  - linux
  - osx
  - windows

language: dart
dart:
  - "dev/raw/latest"
  - stable
addons:
  chrome: stable

matrix:
  exclude:
  # Skip main bot for Stable build since it does formatting/building checks;
  # - Formatting will fail on old SDK if the formatter changed in latest.
  # - Builds are always done by us on latest SDKs so we don't need to ensure
  #     we can build on an older SDK.
  - dart: stable
    env: BOT=main
  # TODO(jacobr): Temporarily skip dev DDC builds until a fix for windows ddc
  # crasher bug in the dart sdk lands on dev.
  # https://github.com/dart-lang/sdk/issues/37490
  - dart:  "dev/raw/latest"
    env: BOT=test_ddc

env:
  - BOT=main
  - BOT=test_ddc
  - BOT=test_dart2js
  - BOT=flutter_sdk_tests

script: ./tool/travis.sh

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master]

cache:
  directories:
  - $HOME/.pub-cache # macOS / Linux
  - $APPDATA/Roaming/Pub/Cache # Windows
  - packages/devtools/.dart_tool/build
