*                   @flutter/devtools-reviewers

# Inspector Files
inspector/          @CoderDake

# Network Files
network/            @kenzieschmoll @bkonyi

# Performance Files
performance/        @kenzieschmoll

# CPU Profiler files
profiler/           @kenzieschmoll

# Memory files
memory/             @bkonyi @polina-c

# Memory leak tracking files
memory/panes/leaks  @CoderDake @polina-c

# Debugger files
debugger/           @elliette

# VM Developer files
vm_developer/       @bkonyi

# Tooling files
/tool/              @CoderDake

# DartDevtoolWorkflowBot added here to prevent other CODEOWNERS
# from being added to auto generated dev bumps
packages/devtools_app/lib/devtools.dart @DartDevtoolWorkflowBot
packages/devtools_app/pubspec.yaml @DartDevtoolWorkflowBot
packages/devtools_shared/pubspec.yaml @DartDevtoolWorkflowBot
packages/devtools_test/pubspec.yaml @DartDevtoolWorkflowBot