name: devtools
description: Performance tools for Flutter.
version: 0.0.1
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.1.0 <3.0.0'

dependencies:
  codemirror: ^0.4.6
  intl: ^0.15.0
  meta: ^1.1.0
  path: ^1.6.0
  rxdart: ^0.19.0
  vm_service_lib: ^0.3.10

dev_dependencies:
  build_runner: 1.0.0
  build_web_compilers: any
  test: ^1.0.0
  webdev: 1.0.1
  webkit_inspection_protocol: ^0.3.6
