name: code_size_images
description: A Flutter project demonstrating code size issues with images.
publish_to: none

environment:
  sdk: ^3.0.0

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  # The assets are not compressed in this version of code_size_images.
  assets:
    - assets/
