/* Copyright 2019 The Chromium Authors. All rights reserved. */
/* Use of this source code is governed by a BSD-style license that can be */
/* found in the LICENSE file. */

/* If you add a CSS variable here, be sure to also add it to styles.css */
:root {
    --chart-bar-color: #4078c0;
    --border-color-dark: #484848;
    --border-color: #484848;
    --counter-color: #999;
    --dark-shadow-color: #999;
    --default-background-rgb: 47, 43, 43;
    --default-background: rgba(var(--default-background-rgb), 1);
    --default-color-thumb: #888;
    --default-color: #fff;
    --disabled-background: #555;
    --error-background: #7c1c05;
    --even-row-background: #1e1e1e;
    --footer-color: #858585;
    --footer-link-hover: #0366d6;
    --footer-strong: #ccc;
    --header-backround: #282828;
    --header-color: #ccc;
    --header-item-rgb: 255, 255, 255;
    --header-item: rgba(var(--header-item-rgb), 1);
    --hint-background: #4b4b3f;
    --light-background: #585858;
    --masthead-background: #3f3f3f;
    --menu-item-border: #484541;
    --row-hover-background: #2b2d2e;
    --selected-background: #37373d;
    --selected-line: #626d7b;
    --shadow-color: #585858;
    --subtle: #888;
    --table-border: #484848;
    --toast-background: #212121;
    --toast-border: #585551;
}

body {
    /* Disable the background image from the github-dark theme as it is too */
    /* busy for this tool. */
    background-image: none !important;
}

.gutter {
    /* The white gutter icon image looks too bright with opacity 1  */
    opacity: 0.5;
}

.menu {
    background-color: var(--default-background);
}
