name: devtools_testing
description: Package of shared testing code for Dart DevTools.
# Note: this version should only be updated by running tools/update_version.dart
# that updates all versions of packages from packages/devtools.
version: 2.3.3

homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.3.0 <3.0.0'

dependencies:
  devtools_app: 2.3.3
  devtools_shared: 2.3.3
  flutter:
    sdk: flutter
  flutter_riverpod: ^0.14.0+3
  flutter_test:
    sdk: flutter
  matcher: ^0.12.3
  meta: ^1.3.0
  pedantic: ^1.11.0
  vm_service: ^7.1.0

dependency_overrides:
# The "#OVERRIDE_FOR_DEVELOPMENT" lines are stripped out when we publish.
# All overriden dependencies are published together so there is no harm
# in treating them like they are part of a mono-repo while developing.
  devtools_app:  #OVERRIDE_FOR_DEVELOPMENT
    path: ../devtools_app  #OVERRIDE_FOR_DEVELOPMENT
  devtools_shared:  #OVERRIDE_FOR_DEVELOPMENT
    path: ../devtools_shared  #OVERRIDE_FOR_DEVELOPMENT
