name: devtools_testing
description: Package of shared testing code for Dart DevTools.
# Note: this version should only be updated by running tools/update_version.sh
# that updates all versions of packages from packages/devtools.
version: 0.9.1-dev.1

homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.3.0 <3.0.0'

dependencies:
  devtools_app: 0.9.1-dev.1
  devtools_shared: 0.9.1-dev.1
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  matcher: ^0.12.3
  meta: ^1.1.0
  package_resolver: ^1.0.0
  pedantic: ^1.7.0
  test: any # This version is pinned by Flutter so we don't need to set one explicitly.
  vm_service: ^4.1.0

dependency_overrides:
# The "#OVERRIDE_FOR_DEVELOPMENT" lines are stripped out when we publish.
# All overriden dependencies are published together so there is no harm
# in treating them like they are part of a mono-repo while developing.
  devtools_app:  #OVERRIDE_FOR_DEVELOPMENT
    path: ../devtools_app  #OVERRIDE_FOR_DEVELOPMENT
  devtools_server:  #OVERRIDE_FOR_DEVELOPMENT
    path: ../devtools_server  #OVERRIDE_FOR_DEVELOPMENT
  devtools_shared:  #OVERRIDE_FOR_DEVELOPMENT
    path: ../devtools_shared  #OVERRIDE_FOR_DEVELOPMENT
