name: devtools_testing
version: 3.0.0
environment:
  sdk: '>=2.3.0 <3.0.0'
dependencies:
  devtools_app: ^0.1.8-dev.2
  meta: ^1.1.0
  package_resolver: ^1.0.0
  test: ^1.0.0
dependency_overrides:
  devtools_app:
    path: ../devtools_app
  devtools_server:
    path: ../devtools_server
dev_dependencies:
  flutter_test:
    sdk: flutter

