name: devtools_repo
description: A repo management tool for DevTools.

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  args: ^2.1.0
  cli_util: ^0.3.3
  http: ^0.13.3
  lints: any
  path: ^1.8.0
