name: devtools_tool
description: A repo management tool for DevTools.
publish_to: none

environment:
  sdk: ">=3.7.0-160.0.dev <4.0.0"

resolution: workspace

executables:
  dt: dt

dependencies:
  args: ^2.4.2
  cli_util: ^0.4.1
  io: ^1.0.4
  lints: ^4.0.0
  path: ^1.9.0
  yaml: ^3.1.2
  
dev_dependencies:
  test: ^1.25.8
