# Copyright 2025 The Flutter Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file or at https://developers.google.com/open-source/licenses/bsd.
name: devtools_app_shared
description: Package of Dart & Flutter structures shared between devtools_app and devtools extensions.
version: 0.4.0
repository: https://github.com/flutter/devtools/tree/master/packages/devtools_app_shared

environment:
  sdk: ">=3.6.0 <4.0.0"
  flutter: ">=3.27.1"

resolution: workspace

dependencies:
  collection: ^1.15.0
  dds_service_extensions: ^2.0.0
  devtools_shared: ^11.1.0
  dtd: ^2.1.0
  flutter:
    sdk: flutter
  logging: ^1.1.1
  meta: ^1.9.1
  path: ^1.8.0
  pointer_interceptor: ^0.10.1+1
  url_launcher: ^6.1.0
  vm_service: '>=13.0.0 <16.0.0'
  web: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.21.0

flutter:
  uses-material-design: true
  fonts:
    - family: Roboto
      fonts:
        - asset: fonts/Roboto/Roboto-Thin.ttf
          weight: 100
        - asset: fonts/Roboto/Roboto-Light.ttf
          weight: 300
        - asset: fonts/Roboto/Roboto-Regular.ttf
          weight: 400
        - asset: fonts/Roboto/Roboto-Medium.ttf
          weight: 500
        - asset: fonts/Roboto/Roboto-Bold.ttf
          weight: 700
        - asset: fonts/Roboto/Roboto-Black.ttf
          weight: 900
    - family: RobotoMono
      fonts:
        - asset: fonts/Roboto_Mono/RobotoMono-Thin.ttf
          weight: 100
        - asset: fonts/Roboto_Mono/RobotoMono-Light.ttf
          weight: 300
        - asset: fonts/Roboto_Mono/RobotoMono-Regular.ttf
          weight: 400
        - asset: fonts/Roboto_Mono/RobotoMono-Medium.ttf
          weight: 500
        - asset: fonts/Roboto_Mono/RobotoMono-Bold.ttf
          weight: 700
