name: devtools_test
description: A package containing shared test helpers for Dart DevTools tests.
publish_to: none

# TODO(kenz): remove the version field here since this package is never published
# nor depended upon by anything other than a path dependency.

# Note: this version should only be updated by running devtools_tool update-version
# that updates all versions of packages from packages/devtools.
# When publishing new versions of this package be sure to publish a new version
# of package:devtools as well. package:devtools contains a compiled snapshot of
# this package.
version: 2.35.0-dev.9

repository: https://github.com/flutter/devtools/tree/master/packages/devtools_test

environment:
  sdk: '>=3.3.0-91.0.dev <4.0.0'
  flutter: '>=3.17.0-0.0.pre'

dependencies:
  async: ^2.0.0
  collection: ^1.15.0
  devtools_shared:
    path: ../devtools_shared
  # TODO(kenz): use a path dependency here since devtools_app is never published.
  # This will require updating the `devtools_tool update-version` command.
  devtools_app: 2.35.0-dev.9
  devtools_app_shared:
    path: ../devtools_app_shared
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  meta: ^1.9.1
  mockito: ^5.4.1
  path: ^1.8.0
  provider: ^6.0.2
  vm_service: ^14.1.0
  webkit_inspection_protocol: '>=0.5.0 <2.0.0'

dependency_overrides:
  devtools_app:
    path: ../devtools_app
  devtools_app_shared:
    path: ../devtools_app_shared
  devtools_extensions:
    path: ../devtools_extensions
  devtools_shared:
    path: ../devtools_shared

dev_dependencies:
  build_runner: ^2.3.3
  flutter_lints: ^2.0.3
