name: devtools_test
description: A package containing shared test helpers for Dart DevTools tests.
publish_to: none

# Note: this version should only be updated by running tools/update_version.dart
# that updates all versions of packages from packages/devtools.
# When publishing new versions of this package be sure to publish a new version
# of package:devtools as well. package:devtools contains a compiled snapshot of
# this package.
version: 2.28.0

repository: https://github.com/flutter/devtools/tree/master/packages/devtools_test

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  async: ^2.0.0
  collection: ^1.15.0
  devtools_shared: ^4.0.1
  devtools_app: 2.28.0
  devtools_app_shared:
    path: ../devtools_app_shared
  flutter:
    sdk: flutter
  flutter_test:
    sdk: flutter
  mockito: ^5.4.1
  path: ^1.8.0
  provider: ^6.0.2
  vm_service: ^11.10.0
  vm_snapshot_analysis: ^0.7.1
  webkit_inspection_protocol: '>=0.5.0 <2.0.0'

dependency_overrides:
  devtools_app:
    path: ../devtools_app
  devtools_app_shared:
    path: ../devtools_app_shared
  devtools_extensions:
    path: ../devtools_extensions
  devtools_shared:
    path: ../devtools_shared

dev_dependencies:
  build_runner: ^2.3.3
  integration_test:
    sdk: flutter
