name: devtools
description: A suite of web-based performance tooling for Dart and Flutter.

# Note: this version should only be updated by running tools/update_version.sh
# that updates all versions of packages from packages/devtools.
#
# All the real functionality has moved to the devtools_app package with this
# package remaining purely as a container for the compiled copy of the devtools
# app. That ensures that version constraints for the devtools_app do not impact
# this package.
version: 0.2.3

author: Dart Team <misc@dartlang.org>
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.3.0 <3.0.0'

dependencies:
  devtools_server: 0.2.3
  devtools_shared: 0.2.3
  http: ^0.12.0+1
  intl: ^0.16.0

dependency_overrides:
# The text "#OVERRIDE_FOR_TESTS" is stripped out for some CI bots so that the
# tests can run using the in-repo version of these dependencies instead of
# only the live Pub version.
devtools_server:
  path: ../devtools_server

executables:
  devtools:
