name: devtools
description: A suite of web-based performance tooling for Dart and Flutter.

# Note: when updating this version, please update the corresponding entry in
# ../devtools_app/lib/devtools.dart and the version in
# ../devtools_app/pubspec.yaml
#
# All the real functionality has moved to the devtools_app package with this
# package remaining purely as a container for the compiled copy of the devtools
# app. That ensures that version constraints for the devtools_app do not impact
# this package.
version: 0.1.7

author: Dart Team <misc@dartlang.org>
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.3.0 <3.0.0'

dependencies:
  devtools_server: 0.1.7
#    path: ../devtools_server
  http: ^0.12.0+1

dev_dependencies:
  devtools_app: 0.1.7

executables:
  devtools:
