name: devtools
description: A suite of web-based performance tooling for Dart and Flutter.

# Note: when updating this version, please update the corresponding entry in
# lib/devtools.dart.
version: 0.1.1

author: Dart Team <misc@dartlang.org>
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.1.2-dev.0.0 <3.0.0'

dependencies:
  codemirror: ^0.5.3
  collection: ^1.14.11
  devtools_server: 0.1.2
#    path: ../devtools_server
  http: ^0.12.0+1
  intl: ^0.15.0
  js: ^0.6.1+1
  meta: ^1.1.0
  path: ^1.6.0
  pedantic: ^1.7.0
  platform_detect: ^1.3.5
  rxdart: ^0.21.0
  vm_service_lib: ^3.17.0+1
  # We would use local dependencies for these packages if pub publish allowed it.
  octicons_css:
    ^0.0.1
#    path: ../../third_party/packages/octicons_css
  polymer_css:
    ^0.0.1
#    path: ../../third_party/packages/polymer_css
  primer_css:
     ^0.0.2
#    path: ../../third_party/packages/primer_css
  split:
    ^0.0.2
#    path: ../../third_party/packages/split
  plotly_js:
    ^0.0.1
#    path: ../../third_party/packages/plotly

dev_dependencies:
  build_runner: ^1.3.0
  build_test: ^0.10.0
  build_web_compilers: ^1.2.0
  matcher: ^0.12.3
  test: ^1.0.0
  webkit_inspection_protocol: ^0.4.0

executables:
  devtools:
