name: devtools
description: A suite of web-based performance tooling for Dart and Flutter.

# Note: this version should only be updated by running tools/update_version.sh
# that updates all versions of packages from packages/devtools.
#
# All the real functionality has moved to the devtools_app package with this
# package remaining purely as a container for the compiled copy of the devtools
# app. That ensures that version constraints for the devtools_app do not impact
# this package.
version: 0.9.6

homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.3.0 <3.0.0'

dependencies:
  devtools_server: 0.9.6
  devtools_shared: 0.9.6
  http: ^0.12.0+1

dependency_overrides:
# The "#OVERRIDE_FOR_DEVELOPMENT" lines are stripped out when we publish.
# All overriden dependencies are published together so there is no harm
# in treating them like they are part of a mono-repo while developing.
  devtools_shared:  #OVERRIDE_FOR_DEVELOPMENT
    path: ../devtools_shared  #OVERRIDE_FOR_DEVELOPMENT
  devtools_server:  #OVERRIDE_FOR_DEVELOPMENT
    path: ../devtools_server  #OVERRIDE_FOR_DEVELOPMENT

executables:
  devtools:
