name: devtools
description: A suite of web-based performance tooling for Dart and Flutter.
version: 0.0.3
author: Dart Team <misc@dartlang.org>
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.1.0-dev <3.0.0'

dependencies:
  args: ^1.5.1
  codemirror: ^0.5.0+5.43.0
  http: ^0.12.0+1
  intl: ^0.15.0
  js: ^0.6.1+1
  meta: ^1.1.0
  mutex: ^1.0.1
  path: ^1.6.0
  pedantic: ^1.5.0
  shelf: ^0.7.4
  shelf_static: ^0.2.8
  rxdart: ^0.20.0
  vm_service_lib: ^3.14.1
  octicons:
    path: ../../third_party/packages/octicons
  plotly:
    path: ../../third_party/packages/plotly
  polymer_css:
    path: ../../third_party/packages/polymer_css
  primer_css:
    path: ../../third_party/packages/primer_css
  split:
    path: ../../third_party/packages/split

dev_dependencies:
  build_runner: 1.0.0
  build_test: any
  build_web_compilers: any
  matcher: ^0.12.3
  test: ^1.0.0
  webdev: 1.0.1
  webkit_inspection_protocol: ^0.3.6

executables:
  devtools:
