name: devtools
description: A suite of web-based performance tooling for Dart and Flutter.

# Note: when updating this version, please update the corresponding entry in
# lib/devtools.dart.
version: 0.0.12

author: Dart Team <misc@dartlang.org>
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.1.0-dev <3.0.0'

dependencies:
  args: ^1.5.1
  codemirror: ^0.5.2+5.44.0
  collection: ^1.14.11
  http: ^0.12.0+1
  intl: ^0.15.0
  js: ^0.6.1+1
  meta: ^1.1.0
  path: ^1.6.0
  pedantic: ^1.4.0
  rxdart: ^0.21.0
  shelf: ^0.7.4
  shelf_static: ^0.2.8
  vm_service_lib: ^3.14.2
  # We would use local dependencies for these packages if pub publish allowed it.
  octicons_css:
    ^0.0.1
#    path: ../../third_party/packages/octicons_css
  polymer_css:
    ^0.0.1
#    path: ../../third_party/packages/polymer_css
  primer_css:
     ^0.0.1
#    path: ../../third_party/packages/primer_css
  split:
    ^0.0.1
#    path: ../../third_party/packages/split
  plotly_js:
    ^0.0.1
#    path: ../../third_party/packages/plotly

dev_dependencies:
  build_runner: 1.0.0
  build_web_compilers: any
  matcher: ^0.12.3
  test: ^1.0.0
  webdev: 1.0.1
  webkit_inspection_protocol: ^0.3.6

executables:
  devtools:
