name: devtools_server
description: A server that supports Dart DevTools.

version: 0.1.9

author: Dart Team <misc@dartlang.org>
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.3.0 <3.0.0'

dependencies:
  args: ^1.5.1
  browser_launcher: ^0.1.3
  meta: ^1.1.0
  path: ^1.6.0
  shelf: ^0.7.4
  shelf_static: ^0.2.8
  http_multi_server: ^2.1.0
  vm_service: '>=1.0.0 <3.0.0'
