name: devtools_server
description: A server that supports Dart DevTools.

version: 0.1.4

author: Dart Team <misc@dartlang.org>
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.1.2-dev.0.0 <3.0.0'

dependencies:
  args: ^1.5.1
  browser_launcher: ^0.1.2
  meta: ^1.1.0
  path: ^1.6.0
  pedantic: ^1.7.0
  shelf: ^0.7.4
  shelf_static: ^0.2.8
  vm_service_lib: 3.21.0
  webkit_inspection_protocol: ^0.4.0
