name: devtools_server
description: A server that supports Dart DevTools.

# Note: this version should only be updated by running tools/update_version.dart
# that updates all versions of packages from packages/devtools.
version: 2.9.2-dev.1

homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.12.0 <3.0.0'

dependencies:
  args: ^2.0.0
  browser_launcher: ^1.0.0
  devtools_shared: 2.9.2-dev.1
  intl: '>=0.16.1 <0.18.0'
  path: ^1.8.0
  sse: ^4.0.0
  shelf: ^1.1.0
  shelf_proxy: ^1.0.0
  shelf_static: ^1.0.0
  http_multi_server: ^3.0.0
  vm_service: ^8.1.0
  collection: ^1.15.0

dependency_overrides:
# The "#OVERRIDE_FOR_DEVELOPMENT" lines are stripped out when we publish.
# All overriden dependencies are published together so there is no harm
# in treating them like they are part of a mono-repo while developing.
  devtools_shared:  #OVERRIDE_FOR_DEVELOPMENT
    path: ../devtools_shared  #OVERRIDE_FOR_DEVELOPMENT
