name: devtools_extensions
description: A package for building and supporting extensions for Dart DevTools.
version: 0.1.1-dev.0

repository: https://github.com/flutter/devtools/tree/master/packages/devtools_extensions

# TODO(kenz): use version numbers from next Dart / Flutter beta release.
environment:
  sdk: ">=3.4.0-275.0.dev <4.0.0"
  flutter: ">=3.21.0-15.0.pre"

executables:
  devtools_extensions: devtools_extensions

dependencies:
  args: ^2.4.2
  devtools_shared: ^8.1.1-dev.0
  devtools_app_shared: ^0.1.1-dev.0
  flutter:
    sdk: flutter
  io: ^1.0.4
  path: ^1.8.0
  logging: ^1.1.1
  vm_service: ^14.1.0
  web: ^0.4.1
  yaml: ^3.1.2

dev_dependencies:
  flutter_driver:
    sdk: flutter
  flutter_lints: ^2.0.3
  flutter_test:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  integration_test:
    sdk: flutter
  foo_devtools_extension:
    path: example/packages_with_extensions/foo/packages/foo_devtools_extension

flutter:
  uses-material-design: true

dependency_overrides:
  devtools_app_shared:
    path: ../devtools_app_shared
  devtools_shared:
    path: ../devtools_shared
