name: devtools_extensions
description: A package for building and supporting extensions for Dart DevTools.
version: 0.0.2-dev.0
repository: https://github.com/flutter/devtools/tree/master/packages/devtools_extensions

environment:
  sdk: '>=3.0.0 <4.0.0'
  flutter: '>=3.0.0'

dependencies:
  devtools_shared: 3.0.0
  flutter:
    sdk: flutter
  logging: ^1.1.1

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
