name: devtools_app
description: Main package implementing web-based performance tooling for Dart and Flutter.

# Note: when updating this version, please update the corresponding entry in
# lib/devtools.dart and ../devtools/pubspec.yaml as well to the same version.
# When publishing new versions of this package be sure to publish a new version
# of package:devtools as well. package:devtools contains a compiled snapshot of
# this package.
version: 0.2.3

author: Dart Team <misc@dartlang.org>
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.6.0 <3.0.0'
  # The flutter desktop support interacts with build scripts on the Flutter
  # side that are not yet stable, so it requires a very recent version of
  # Flutter. This version will increase regularly as the build scripts change.
  flutter: '>=1.10.0'

dependencies:
  ansicolor: ^1.0.2
  ansi_up:
    ^0.0.1
  #   path: ../../third_party/packages/ansi_up
  codemirror: ^0.5.10
  collection: ^1.14.11
  devtools_shared: ^0.2.2
  file: ^5.1.0
  http: ^0.12.0+1
  html_shim: ^0.0.2
  #    path: ../html_shim
  intl: ^0.16.0
  js: ^0.6.1+1
  meta: ^1.1.0
  mp_chart: ^0.1.7
  path: ^1.6.0
  pedantic: ^1.7.0
  platform_detect: ^1.3.5
  vm_service: ^3.0.0
  # We would use local dependencies for these packages if pub publish allowed it.
  octicons_css:
    ^0.0.1
  #    path: ../../third_party/packages/octicons_css
  polymer_css:
    ^0.0.1
  #    path: ../../third_party/packages/polymer_css
  primer_css:
    ^0.0.2
  #    path: ../../third_party/packages/primer_css
  split:
    ^0.0.7
  #    path: ../../third_party/packages/split
  plotly_js:
    ^0.0.2
  #    path: ../../third_party/packages/plotly_js
  sse: ^3.1.2
  web_socket_channel:
    ^1.1.0
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter

dev_dependencies:
  build_runner: ^1.3.0
  build_test: ^0.10.0
  build_web_compilers: '>=2.6.2 <3.0.0'
  matcher: ^0.12.3
  mockito: ^4.0.0
  test: ^1.0.0
  webkit_inspection_protocol: ^0.5.0
  devtools: #^0.1.7
    path: ../devtools
  devtools_testing: 0.2.2
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - web/widgets.json
    - web/icons/
    - web/icons/actions/
    - web/icons/custom/
    - web/icons/general/
    - web/icons/gutter/
    - web/icons/inspector/
    - web/icons/memory/
    - web/icons/perf/
    - assets/
    - assets/img/
    - assets/img/layout_explorer/
    - assets/img/layout_explorer/main_axis_alignment/
    - assets/img/layout_explorer/cross_axis_alignment/

  fonts:
    - family: Roboto
      fonts:
        - asset: fonts/Roboto/Roboto-Thin.ttf
          weight: 100
        - asset: fonts/Roboto/Roboto-Light.ttf
          weight: 300
        - asset: fonts/Roboto/Roboto-Regular.ttf
          weight: 400
        - asset: fonts/Roboto/Roboto-Medium.ttf
          weight: 500
        - asset: fonts/Roboto/Roboto-Bold.ttf
          weight: 700
        - asset: fonts/Roboto/Roboto-Black.ttf
          weight: 900
    - family: RobotoMono
      fonts:
        - asset: fonts/Roboto_Mono/RobotoMono-Thin.ttf
          weight: 100
        - asset: fonts/Roboto_Mono/RobotoMono-Light.ttf
          weight: 300
        - asset: fonts/Roboto_Mono/RobotoMono-Regular.ttf
          weight: 400
        - asset: fonts/Roboto_Mono/RobotoMono-Medium.ttf
          weight: 500
        - asset: fonts/Roboto_Mono/RobotoMono-Bold.ttf
          weight: 700
    - family: Octicons
      fonts:
        - asset: fonts/Octicons.ttf
  plugin:
    platforms:
      web:
        pluginClass: DebuggerHtmlPlugin
        fileName: debugger_html_plugin.dart

dependency_overrides:
  devtools_shared:
    path: ../devtools_shared
  # The text "#OVERRIDE_FOR_TESTS" is stripped out for some CI bots so that the
  # tests can run using the in-repo version of these dependencies instead of
  # only the live Pub version.
  devtools_testing:
    path: ../devtools_testing
