name: devtools_app
description: Main package implementing web-based performance tooling for Dart and Flutter.

# Note: when updating this version, please update the corresponding entry in
# lib/devtools.dart and ../devtools/pubspec.yaml as well to the same version.
# When publishing new versions of this package be sure to publish a new version
# of package:devtools as well. package:devtools contains a compiled snapshot of
# this package.
version: 0.1.11

author: Dart Team <misc@dartlang.org>
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.6.0 <3.0.0'
  # The flutter desktop support interacts with build scripts on the Flutter
  # side that are not yet stable, so it requires a very recent version of
  # Flutter. This version will increase regularly as the build scripts change.
  flutter: '>=1.10.0'

dependencies:
  ansicolor: ^1.0.2
  ansi_up:
    ^0.0.1
  #   path: ../../third_party/packages/ansi_up
  codemirror: ^0.5.10
  collection: ^1.14.11
  devtools_server: 0.1.12
  flutter_icons: ^0.3.1
  http: ^0.12.0+1
  html_shim: ^0.0.2
  #    path: ../html_shim
  intl: ^0.16.0
  js: ^0.6.1+1
  meta: ^1.1.0
  mp_chart:
    path: ../../third_party/packages/mp_chart
  path: ^1.6.0
  pedantic: ^1.7.0
  platform_detect: ^1.3.5
  vm_service: ^1.2.0
  # We would use local dependencies for these packages if pub publish allowed it.
  octicons_css:
    ^0.0.1
  #    path: ../../third_party/packages/octicons_css
  polymer_css:
    ^0.0.1
  #    path: ../../third_party/packages/polymer_css
  primer_css:
    ^0.0.2
  #    path: ../../third_party/packages/primer_css
  split:
    ^0.0.7
  #    path: ../../third_party/packages/split
  plotly_js:
    ^0.0.2
  #    path: ../../third_party/packages/plotly_js
  sse: ^2.0.0
  web_socket_channel:
    ^1.1.0
  flutter:
    sdk: flutter
  flutter_web_plugins:
    sdk: flutter
  flutter_widgets: ^0.1.6

dependency_overrides:
# The text "#OVERRIDE_FOR_TESTS" is stripped out for some CI bots so that the
# tests can run using the in-repo version of these dependencies instead of
# only the live Pub version.
#OVERRIDE_FOR_TESTS   devtools_server:
#OVERRIDE_FOR_TESTS     path: ../devtools_server

dev_dependencies:
  build_runner: ^1.3.0
  build_test: ^0.10.0
  build_web_compilers: '>=2.6.2 <3.0.0'
  matcher: ^0.12.3
  mockito: ^4.0.0
  test: ^1.0.0
  webkit_inspection_protocol: ^0.5.0
  devtools: #^0.1.7
    path: ../devtools
  devtools_testing:
    path: ../devtools_testing
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - web/widgets.json
    - web/icons/
    - web/icons/actions/
    - web/icons/custom/
    - web/icons/general/
    - web/icons/gutter/
    - web/icons/inspector/
    - web/icons/memory/
    - web/icons/perf/
    - assets/img/story_of_layout/main_axis_alignment/center.png
    - assets/img/story_of_layout/main_axis_alignment/end.png
    - assets/img/story_of_layout/main_axis_alignment/spaceAround.png
    - assets/img/story_of_layout/main_axis_alignment/spaceBetween.png
    - assets/img/story_of_layout/main_axis_alignment/spaceEvenly.png
    - assets/img/story_of_layout/main_axis_alignment/start.png
    - assets/img/story_of_layout/cross_axis_alignment/start.png
    - assets/img/story_of_layout/cross_axis_alignment/end.png
    - assets/img/story_of_layout/cross_axis_alignment/center.png
    - assets/img/story_of_layout/cross_axis_alignment/stretch.png
    - assets/img/story_of_layout/cross_axis_alignment/baseline.png

  # See https://github.com/flutter/flutter/wiki/Desktop-shells#fonts
  fonts:
    - family: Roboto
      fonts:
        - asset: fonts/Roboto/Roboto-Thin.ttf
          weight: 100
        - asset: fonts/Roboto/Roboto-Light.ttf
          weight: 300
        - asset: fonts/Roboto/Roboto-Regular.ttf
          weight: 400
        - asset: fonts/Roboto/Roboto-Medium.ttf
          weight: 500
        - asset: fonts/Roboto/Roboto-Bold.ttf
          weight: 700
        - asset: fonts/Roboto/Roboto-Black.ttf
          weight: 900
  plugin:
    platforms:
      web:
        pluginClass: DebuggerHtmlPlugin
        fileName: debugger_html_plugin.dart
