name: devtools_app
description: Web-based performance tooling for Dart and Flutter.
publish_to: none

# Note: this version should only be updated by running tools/update_version.dart
# that updates all versions of devtools packages (devtools_app, devtools_test).
version: 2.14.0

repository: https://github.com/flutter/devtools/tree/master/packages/devtools_app

environment:
  sdk: '>=2.17.0 <3.0.0'
  flutter: '>=3.0.0'

dependencies:
  ansi_up: ^1.0.0
  #     path: ../../third_party/packages/ansi_up
  # Pin ansicolor to version before pre-NNBD version 1.1.0, should be ^1.0.5
  # See https://github.com/flutter/devtools/issues/2530
  ansicolor: ^2.0.0
  async: ^2.0.0
  codicon: ^1.0.0
  collection: ^1.15.0
  dds: ^2.2.0
  dds_service_extensions: ^1.3.0
  devtools_shared: 2.14.0
  file: ^6.0.0
  file_selector: ^0.8.0
  file_selector_linux: ^0.0.2
  file_selector_macos: ^0.0.2
  file_selector_web: ^0.8.1
  file_selector_windows: ^0.0.2
  flutter:
    sdk: flutter
  flutter_markdown: ^0.6.8
  flutter_riverpod: ^2.0.0-dev.7
  flutter_web_plugins:
    sdk: flutter
  http: ^0.13.4
  image: ^3.0.2
  intl: '>=0.16.1 <0.18.0'
  js: ^0.6.1+1
  mime: ^1.0.0
  path: ^1.8.0
  provider: ^6.0.2
  sse: ^4.0.0
  stack_trace: ^1.10.0
  string_scanner: ^1.1.0
  url_launcher: ^6.1.0
  url_launcher_web: ^2.0.6
  vm_service: ^8.3.0
  vm_snapshot_analysis: ^0.7.1
  web_socket_channel: ^2.1.0
  flutter_json_view: ^0.3.1
  # widget_icons: ^0.0.1
  memory_tools:
    path: ../../../spikes/memory_tools
  #    git:
  #      url: git://github.com/polina-c/spikes.git
  #      path: memory_tools

dev_dependencies:
  build_runner: ^2.0.4
  devtools_test: 2.14.0
  flutter_test:
    sdk: flutter
  mockito: ^5.1.0
  webkit_inspection_protocol: '>=0.5.0 <2.0.0'

flutter:
  uses-material-design: true
  assets:
    - assets/
    - assets/img/
    - assets/img/layout_explorer/
    - assets/img/layout_explorer/cross_axis_alignment/
    - assets/img/layout_explorer/main_axis_alignment/
    - assets/img/legend/
    - assets/scripts/inspector_polyfill_script.dart
    - icons/
    - icons/actions/
    - icons/custom/
    - icons/general/
    - icons/gutter/
    - icons/inspector/
    - icons/inspector/widget_icons/
    - icons/memory/
    - icons/perf/

  fonts:
    - family: Roboto
      fonts:
        - asset: fonts/Roboto/Roboto-Thin.ttf
          weight: 100
        - asset: fonts/Roboto/Roboto-Light.ttf
          weight: 300
        - asset: fonts/Roboto/Roboto-Regular.ttf
          weight: 400
        - asset: fonts/Roboto/Roboto-Medium.ttf
          weight: 500
        - asset: fonts/Roboto/Roboto-Bold.ttf
          weight: 700
        - asset: fonts/Roboto/Roboto-Black.ttf
          weight: 900
    - family: RobotoMono
      fonts:
        - asset: fonts/Roboto_Mono/RobotoMono-Thin.ttf
          weight: 100
        - asset: fonts/Roboto_Mono/RobotoMono-Light.ttf
          weight: 300
        - asset: fonts/Roboto_Mono/RobotoMono-Regular.ttf
          weight: 400
        - asset: fonts/Roboto_Mono/RobotoMono-Medium.ttf
          weight: 500
        - asset: fonts/Roboto_Mono/RobotoMono-Bold.ttf
          weight: 700
    - family: Octicons
      fonts:
        - asset: fonts/Octicons.ttf
    - family: Codicon
      fonts:
        - asset: packages/codicon/font/codicon.ttf

dependency_overrides:
# The '#OVERRIDE_FOR_DEVELOPMENT' lines are stripped out when we publish.
# All overriden dependencies are published together so there is no harm
# in treating them like they are part of a mono-repo while developing.
  devtools_shared: #OVERRIDE_FOR_DEVELOPMENT
    path: ../devtools_shared #OVERRIDE_FOR_DEVELOPMENT
  devtools_test: #OVERRIDE_FOR_DEVELOPMENT
      path: ../devtools_test #OVERRIDE_FOR_DEVELOPMENT
