name: devtools_app
description: Main package implementing web-based performance tooling for Dart and Flutter.

# Note: when updating this version, please update the corresponding entry in
# lib/devtools.dart and ../devtools/pubspec.yaml as well to the same version.
# When publishing new versions of this package be sure to publish a new version
# of package:devtools as well. package:devtools contains a compiled snapshot of
# this package.
version: 0.1.7

author: Dart Team <misc@dartlang.org>
homepage: https://github.com/flutter/devtools

environment:
  sdk: '>=2.3.0 <3.0.0'

dependencies:
  ansicolor: ^1.0.2
  ansi_up:
    ^0.0.1
#   path: ../../third_party/packages/ansi_up
  codemirror: ^0.5.10
  collection: ^1.14.11
  http: ^0.12.0+1
  html_shim: ^0.0.1
#    path: ../html_shim
  intl: ^0.16.0
  js: ^0.6.1+1
  meta: ^1.1.0
  path: ^1.6.0
  pedantic: ^1.7.0
  platform_detect: ^1.3.5
  vm_service: ^1.2.0
  # We would use local dependencies for these packages if pub publish allowed it.
  octicons_css:
    ^0.0.1
#    path: ../../third_party/packages/octicons_css
  polymer_css:
    ^0.0.1
#    path: ../../third_party/packages/polymer_css
  primer_css:
    ^0.0.2
#    path: ../../third_party/packages/primer_css
  split:
    ^0.0.5
#    path: ../../third_party/packages/split
  plotly_js:
    ^0.0.1
#    path: ../../third_party/packages/plotly
  sse: ^2.0.0
  devtools_server: ^0.1.7

dev_dependencies:
  build_runner: ^1.3.0
  build_test: ^0.10.0
  build_web_compilers: '>=1.2.0 <3.0.0'
  matcher: ^0.12.3
  mockito: ^4.0.0
  test: ^1.0.0
  webkit_inspection_protocol: ^0.5.0
  devtools: ^0.1.7
  devtools_testing:
    path: ../devtools_testing
