# Copyright 2020 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

name: devtools

on:
  pull_request:
  push:
    branches:
      - master

# Declare default permissions as read only.
permissions: read-all

# When updating this version, also update the version in
# flutter-version.txt.
#
# This version should be updated periodically and should generally
# track the latest Flutter dev release. Dev releases come out ~weekly;
# the versions can be viewed at https://github.com/flutter/flutter/tags.
env:
  PINNED_FLUTTER_CHANNEL: 3.3.0-0.4.pre

jobs:
  main:
    name: main
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        flutter-test-env:
          - pinned
    steps:
      - name: git clone
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: tool/bots.sh
        env:
          BOT: main
          FLUTTER_TEST_ENV: ${{ matrix.flutter-test-env }}
        run: ./tool/bots.sh

  packages:
    name: packages
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        flutter-test-env:
          - pinned
    steps:
      - name: git clone
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
      - name: tool/bots.sh
        env:
          BOT: packages
          FLUTTER_TEST_ENV: ${{ matrix.flutter-test-env }}
        run: ./tool/bots.sh

  test:
    name: test ${{ matrix.bot }} - (flutter ${{ matrix.flutter-test-env }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        bot:
          - test_ddc
          - test_dart2js
        flutter-test-env:
          - pinned
          - master
    steps:
      - name: git clone
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: tool/bots.sh
        env:
          BOT: ${{ matrix.bot }}
          PLATFORM: vm
          FLUTTER_TEST_ENV: ${{ matrix.flutter-test-env }}
        run: ./tool/bots.sh

      - name: image failures
        uses: actions/upload-artifact@3cea5372237819ed00197afe530f5a7ea3e805c8
        if: failure() # Only if failure then failures directory exists.
        with:
          # TODO(terry): matrix.os currently empty. If we run tests on other
          #              platforms this will be used.
          name: test-image-failures-${{ matrix.os }} # Name for the artifact
          path: packages/devtools_app/test/failures # Path to upload
                
      - name: Upload Golden Failure Artifacts
        uses: actions/upload-artifact@v3
        if: failure()
        with: 
          name: golden_image_failures-${{ matrix.bot }}-${{ matrix.flutter-test-env }}
          path: packages/devtools_app/test/**/failures/*.png

  macos-test:
    name: macos ${{ matrix.bot }} - (flutter ${{ matrix.flutter-test-env }})
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        bot:
          - test_dart2js
        flutter-test-env:
          - pinned
    steps:
      - name: git clone
        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b

      - name: tool/bots.sh
        env:
          BOT: ${{ matrix.bot }}
          PLATFORM: vm
          FLUTTER_TEST_ENV: ${{ matrix.flutter-test-env }}
        run: ./tool/bots.sh
  
      - name: Upload Golden Failure Artifacts
        uses: actions/upload-artifact@v3
        if: failure()
        with: 
          name: golden_image_failures-${{ matrix.bot }}-${{ matrix.flutter-test-env }}
          path: packages/devtools_app/test/**/failures/*.png


# TODO(https://github.com/flutter/devtools/issues/1715): add a windows compatible version of tool/bots.sh
# and run it from this job.
#  windows-test:
#    name: windows ${{ matrix.bot }} - (flutter ${{ matrix.flutter-test-env }})
#    runs-on: windows-latest
#    strategy:
#      fail-fast: false
#      matrix:
#        bot:
#          - test_dart2js
#        flutter-test-env:
#          - pinned
#    steps:
#      - name: git clone
#        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
#
#      - name: tool/bots.sh
#        env:
#          BOT: ${{ matrix.bot }}
#          PLATFORM: vm
#          FLUTTER_TEST_ENV: ${{ matrix.flutter-test-env }}
#        run: ./tool/bots.sh

# TODO(https://github.com/flutter/devtools/issues/1987): rewrite integration tests.
#  integration:
#    name: integration ${{ matrix.bot }} - (flutter ${{ matrix.flutter-test-env }})
#    runs-on: ubuntu-latest
#    strategy:
#      fail-fast: false
#      matrix:
#        bot:
#          - integration_ddc
#          - integration_dart2js
#        flutter-test-env:
#          - pinned
#          - master
#    steps:
#      - name: git clone
#        uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b
#      - name: tool/bots.sh
#        env:
#          BOT: ${{ matrix.bot }}
#          FLUTTER_TEST_ENV: ${{ matrix.flutter-test-env }}
#        run: ./tool/bots.sh

# TODO(https://github.com/flutter/devtools/issues/2437):
# PLATFORM=chrome is going away. We need to move these tests to run with
# chromedriver.
#    - BOT=test_ddc            PLATFORM=chrome
# PLATFORM=chrome is going away. We need to move these tests to run with
# chromedriver.
#   - BOT=test_dart2js        PLATFORM=chrome

