name: Daily Dev Bump
on:
  workflow_dispatch: # Allows for manual triggering if needed

permissions:
  contents: write

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  bump-dev-version:
    name: Bump Dev Version
    runs-on: ubuntu-latest
    steps:
    - name: git clone devtools
      uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c
      with:
        ref: master

    - uses: dart-lang/setup-dart@v1.4

    - name: setup git config
      run: |

        # TODO(https://github.com/flutter/devtools/issues/4949):  Change the author to
        # a flutter owned account
        git config user.name "Devtool Workflow Bot"
        git config user.email "dart-devtool-workflow-bot@google.com"

    - name: Bump the Dev Version
      id: version-bump
      run: |
        set -x
        pushd tool/
        dart pub get
        popd

        CURRENT_VERSION=$(dart tool/update_version.dart current-version)
        if ! echo "$CURRENT_VERSION" |grep -Eq "\-dev\.[0-9]+" ; then
          ERROR_DESCRIPTION="Doing \
        a Dev bump on a release version ($CURRENT_VERSION) is not supported. \
        Ensure that that current version has been properly bumped to a '-dev.*' \
        pre-release version, in order to continue daily dev bumps."

          echo "::error ,title=Cannot Bump A Release Version ($CURRENT_VERSION)::$ERROR_DESCRIPTION" 
          exit 1;
        fi
    
        # Get the commit message
        COMMIT_MESSAGE=$(dart tool/update_version.dart auto --dry-run --type dev)
        echo "COMMIT_MESSAGE=$COMMIT_MESSAGE" >> $GITHUB_OUTPUT

        # Do the update
        dart tool/update_version.dart auto --type dev

    - name: Create the PR
      run: |
        # Stage the file, commit and push
        
        git commit -a -m "$COMMIT_MESSAGE"
        git push
        #TODO: Create PR inst
      env:
        COMMIT_MESSAGE: ${{ steps.version-bump.outputs.COMMIT_MESSAGE }}
